<section class="featured-blog mtb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/img/html.png" alt="html course"/>
                    <h3>HTML 5 Tutorial</h3>
                    <p>by <span>MB</span></p>
                    <p>Learn HTML/5 from scratch</p>
                    <a routerLink="/course/1" routerLinkActive="active" class="btn btn-primary">Go here to learn...</a> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/img/css.png" alt="css course"/>
                    <h3>CSS 3 Tutorial</h3>
                    <p>by <span>MB</span></p>
                    <p>Learn CSS3 from scratch</p>
                    <a routerLink="/course/2" routerLinkActive="active" class="btn btn-primary">Go here to learn...</a> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/img/js.png" alt="js course"/>
                    <h3>JS Tutorial</h3>
                    <p>by <span>MB</span></p>
                    <p>Learn JS from scratch</p>
                    <a routerLink="/course/3" routerLinkActive="active" class="btn btn-primary">Go here to learn...</a> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/img/ng-logo.jpg" alt="angular course"/>
                    <h3>Angular 8 Tutorial</h3>
                    <p>by <span>MB</span></p>
                    <p>Learn Angular 8 from scratch</p>
                    <a routerLink="/course/4" routerLinkActive="active" class="btn btn-primary">Go here to learn...</a> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/img/typescript.png" alt="typescript course"/>
                    <h3>Typescript Tutorial</h3>
                    <p>by <span>MB</span></p>
                    <p>Learn Typescript from scratch</p>
                    <a routerLink="/course/5" routerLinkActive="active" class="btn btn-primary">Go here to learn...</a> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="assets/img/bootstrap.png" alt="bootstrap course"/>
                    <h3>Bootstrap Tutorial</h3>
                    <p>by <span>MB</span></p>
                    <p>Learn Bootstrap from scratch</p>
                    <a routerLink="/course/6" routerLinkActive="active" class="btn btn-primary">Go here to learn...</a> 
                </div>
            </div>
        </div>

    </div>

</section>
