<div class="right-widget recent-post">
    <h3>Recent Updates</h3>
    <a href="#">
        <div class="rb-box-img">
            <img src="assets/img/html.png" alt="html course"/>
        </div>
        <div class="rb-box-desc">
            <h4>HTML 5</h4>
            <p>MD Tuts: Posted on 1/9/2020</p>
        </div>
    </a>
    <a href="#">
        <div class="rb-box-img">
            <img src="assets/img/css.png" alt="css course"/>
        </div>
        <div class="rb-box-desc">
            <h4>CSS 3</h4>
            <p>MD Tuts: Posted on 1/9/2020</p>
        </div>
    </a>
    <a href="#">
        <div class="rb-box-img">
            <img src="assets/img/js.png" alt="js course"/>
        </div>
        <div class="rb-box-desc">
            <h4>JavaScript</h4>
            <p><span>MD Tuts: Posted on 1/9/2020</span></p>
        </div>
    </a>
</div>
