<section class="blog-detail mtb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-left">
                    <h1>Angular Full Course</h1>
                    <div class="posted-on">
                        <p><span>MB Tuts: </span> <span>Posted on 2/9/2020</span></p>
                    </div>
                    <div class="detail-img">
                        <img src="assets/img/html.png" alt="html-course"/>
                    </div>
                    <div class="blog-desc">
                        <p>Learnig angular or any web devlopment framework starts from HTML 
                            as it is the structure framework for any UI design.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <app-course-recent></app-course-recent>
                <app-course-categories></app-course-categories>
            </div>
        </div>

    </div>
</section>